:root {
	--Very-Pale-Cyan: hsl(193, 100%, 96%);
	--Very-Dark-Cyan: hsl(192, 100%, 9%);
	--Grayish-Blue: hsl(208, 11%, 55%);
	--Pink: hsl(322, 100%, 66%);
}

@font-face {
	font-family: bold;
	src: url(../../assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
	font-family: light;
	src: url(../../assets/fonts/Poppins/Poppins-ExtraLight.ttf);
}

@font-face {
	font-family: regular;
	src: url(../../assets/fonts/Poppins/Poppins-Regular.ttf);
}

main {
	height: 100vh;
}

header {
	background-image: url(../images/bg-hero-desktop.svg);
	width: 100%;
	height: fit-content;
	margin: -8px;
	background-color: rgb(231 252 255);
}

.main-title {
	display: flex;
}

.main-logo {
	margin: 30px;
}

.free-try-area {
	display: flex;
	flex-grow: 1;
	justify-content: end;
	margin: 30px;
}

.free-try {
	background-color: white;
	margin-left: 50px;
	border-radius: 10px;
	width: 130px;
	height: 30px;
	display: flex;
	box-shadow: 12px 7px 20px 6px rgb(57 75 84 / 8%);
	justify-content: center;
	align-items: center;
}

.main-content-area {
	display: flex;
}

.main-content {
	margin: 100px 20px 0px 50px;
}

.main-content-title {
	max-width: 300px;
	font-size: 28px;
	font-family: bold;
}

.main-content-text {
	margin-top: 20px;
	font-family: light;
	max-width: 400px;
}

.mobile-desktop-img-area {
	display: flex;
	justify-content: end;
	flex-grow: 1;
	margin: 30px 30px 30px 0px;
}

.mobile-desktop-img {
	max-width: 500px;
	width: 100%;
	height: 500px;
}

.get-started-bt {
	margin-top: 20px;
	background-color: var(--Pink);
	width: 160px;
	height: 37px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0px;
	border-radius: 30px;
	font-family: light;
	font-size: 13px;
}


.mobile-desktop-img {
	max-width: 600px;
	width: 100%;
	height: 500px;
}

section {
	margin-top: 70px;
}

.page-cards {
	display: flex;
	max-width: 800px;
	margin: 20px auto;
	border-radius: 10px;
	box-shadow: 12px 7px 20px 6px rgb(57 75 84 / 8%);
	height: 280px;
}

.cards-content-area {}

.card-title {
	font-size: 24px;
	font-family: bold;
}

.card-content {
	color: var(--Grayish-Blue);
	margin-top: 15px;
	max-width: 400px;
}

.card-img {
	width: 300px;
	height: 250px;
}